<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    
    @RenderSection("styles", required: false)
</head>
<!-- end: HEAD -->
<!-- start: BODY -->
<body class="footer-fixed" style="background-color: white;">

    

    @RenderSection("scripts", required: false)

</body>
<!-- end: BODY -->

</html>
